nav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 8px 8px -4px rgba(0, 0, 0, 0.4);
  z-index: 40;
  background: linear-gradient(to bottom, #320550 7%, #010325 100%);

  .nav-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;

    @media (max-width: 900px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .nav-menu {
      display: flex;
      align-items: center;
      text-align: center;

      .nav-item {
        height: 50px;
        margin-left: 15px;
        display: flex;
        align-items: center;

        .nav-link {
          color: #63e6be;
          display: flex;
          align-items: center;
          text-decoration: none;
          padding: 0 1rem;
          height: 100%;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          &.active {
            border-bottom: 3px solid #ff904d;
          }

          &:hover {
            color: #ffec99;
          }
        }
      }
    }
  }
}
